.navbar-title {
    margin: 20px 50px;
    padding: 20px 50px;
    font-size: 2.5em;
    color: white;
    background-color: #d3c0f9;
    border-radius: 5px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}